@*<article>
    <div class="jumbotron jumbotron-fluid" style="">
        <div class="container">
            <h1 class="display-4" style="text-align: center;">Database EnsoulSharp</h1>
        </div>
    </div>
</article>*@

<article>
    <div data-parallaxwindow class="parallax-window" style="" data-parallax="scroll" data-image-src="~/images/jumbotron.jpg"></div>
</article>