<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="google-signin-client_id" content="484961371154-2qofggj9majkg7kf57tqfbosgovddlgi.apps.googleusercontent.com">
    <link href="~/css/main.min.css" rel="stylesheet" />
    <title>Database Ensoul Sharp</title>
</head>
<body>
    @RenderBody()

    @*<div class="setting-box ">
        <div class="btn-toggle">
            <i class="fa fa-car" style="font-size:48px;"></i>
        </div>
    </div>*@

    <footer class="page-footer font-small" style="background-color: black; color: white;font-size: 13px;">
        <div class="row">
            <div class="col align-self-center">
                <div class="footer-copyright text-center py-3 float-right">
                    © 2019 Copyright:
                    <a href="https://www.facebook.com/Hong.Thuan.1995"> LUFFY</a>
                </div>
            </div>
            <div class="col">
                <div class="footer-copyright text-center py-3 float-left">
                    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/wGq8Ngf">
                        <img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Buy me a coffee">
                        <span style="margin-left: 5px">Buy me a coffee</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-large" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-small" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="fb-root"></div>

    <script src="~/js/lib/jquery-3.2.1.min.js"></script>
    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/lib/parallax.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119923845-2"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/js/main.min.js"></script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-7635539668543789",
			enable_page_level_ads: true
		});
	</script>
</body>
</html>